<div class="do-auth-wrap">
    <form *ngIf="!_authService.isAuthenticated()" class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label class="control-label">Username</label>
        <input name="username" class="form-control" type="text" placeholder="Your Username" formControlName="username" />
        <small *ngIf="loginForm.controls['username'].hasError('required')" class="text-danger">
          Please enter your username
        </small>
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input name="password" class="form-control" type="password" placeholder="Your Password" formControlName="password" />
        <small *ngIf="loginForm.controls['password'].hasError('required')" class="text-danger">
            Please enter your password
          </small>
      </div>
      <div class="text-danger text-center"> {{ error }} </div>
      <div class="form-group text-center mt-5">
        <button class="btn btn-lg btn-primary" type="submit" >Log In</button>
      </div>
      <div class="form-group text-center">
        <p>You don't have an account?
          <a href="#" routerLink="/register">Register Here</a>
        </p>
      </div>

    </form>

  </div>